.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    border-bottom: 2px solid darkkhaki;
    color: khaki;
}

.display-in-line-block{
    display: inline-block;
}

.link-buttons{
    margin: 0 4px;
}